<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="apiUrl" value="http://localhost:44591"/>
    <add key="emailOrigen" value="derjayasmail@gmail.com"/>
    <add key="emailPassword" value="bmmpolvggoqcyeja"/>
    <add key="emailSmtpClientURL" value="smtp.gmail.com"/>
    <add key="emailSmtpClientPort" value="587"/>
    <add key="emailSmtpClientSSL" value="0"/>
  </appSettings>
</configuration>